{% extends "layout/cabinet.base.html.twig" %}

{% block title %} Создание шаблона {% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            initAccTable();
        })
    </script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="text-center">Добавить аккаунт</h1>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form method="post">


                    <div class="row">
                        <div class="form-group">
                            <label for="tel-input" >Номер телефона</label>
                            <input id="tel-input" type="tel" name="{{ form.tel.vars.full_name }}" class="form-control" value="{{ form.tel.vars.data }}">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>



    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('accounts_index') }}">Назад к списку аккаунтов</a>
        </li>
    </ul>
{% endblock %}
