{% extends "layout/cabinet.base.html.twig" %}

{% block title %} Аккаунты {% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            initAccTable();
        })
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button id="add-account-button" href="{{ path('accounts_new') }}" class="btn btn-primary">Добавить аккаунт</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <table data-url="{{ path('accounts-get-all') }}" class="table table-bordered table-striped" id="accountsTable"></table>
            </div>
        </div>
    </div>

    {% include "parts/modals/add-account.html.twig" %}
{% endblock %}
