<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="windows-1251">
</head>
<body>
<p>По этой ссылке вы можете подтвердить свой email!</p>
<br>
<p>{{ url('mainpage') }}confirm/{{ app.user.username }}/{{ hash }}</p>
</body>
</html>