{% extends 'layout/cabinet.base.html.twig' %}

{% block title %} Главная {% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="widget-container fluid-height clearfix">

            <div class="widget-content padded">
                <div class="col-md-12">
                    <p class="text-center">{{ info }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}