{% extends 'layout/cabinet.base.html.twig' %}

{% block title %} Ошибка доступа {% endblock %}

{% block content %}
    Пожалуйста, подтвердите свое email


{% endblock %}
{% block scripts %}

{% endblock %}