{% extends "layout/cabinet.base.html.twig" %}
{% block scripts %}

    <script type="text/javascript">
        $(function () {
            var usert = $('#template-list');
            var table = usert.dataTable({
                "initComplete": function () {
                    var i = 0
                    table.api().rows().every(function (rowIdx, tableLoop, rowLoop) {

                        var data = this.data();

                        if (data.status)
                            table.fnUpdate('Активен', i, 5);
                        else  table.fnUpdate('Не активен', i, 5);

                        console.log(i);
                        i++;
                    })

                },


                'ajax': {
                    type: "GET",
                    url: usert.data('action'),
                    dataSrc: ""
                },
                columns: [

                    {

                        data: 'id',
                        title: 'ID',
                        width: '100px',
                        bVisible: false,


                    },
                    {
                        data: function (data) {

                                return '<a href="/subtext/'+data.id+'">'+data.name+'</a>';

                        },
                        title: 'Имя',
                        width: '100px',

                    },
                    {
                        data: function (data) {
                            if(data['gallery']!=null)
                            return data['gallery']['name'];
                            else return 'Не выбрано';
                        },

                        title: 'Галлерея',
                        width: '100px',
                        orderable: false,

                    },
                    {
                        data: 'time_to_publish',
                        render: "[, ].name",
                        title: 'Время',
                        width: '100px',
                        orderable: false,

                    },
                    {
                        data: 'text',
                        title: 'Текст объявления',
                        width: '100px',
                        orderable: false,
                    },


                    {

                        data: 'status',
                        title: 'Статус',
                        width: '100px',
                        orderable: false,
                    },

                    {
                        data: function (data) {
                            var t = '';

                            for (var i = 0; i < data.youla_account.length; i++) {
                                t += data.youla_account[i].tel + ';'
                            }
                            return t;
                        },
                        title: 'Акаунты',
                        width: '100px',
                        orderable: false,
                    },
                    {
                        title: 'Действия',
                        render: function (data, type, row) {
                            return ("<button class='btn btn-danger-outline btn-sm' id='rm'>Удалить</button>" +
                            "<button class='btn btn-info-outline btn-sm' id='upd'>Изменить</button>" +
                            "<button class='btn btn-default-outline btn-sm' id='st'>Статус</button>");
                        },
                        width: '200px',
                        orderable: false
                    }
                ]

            });


            usert.on('click', '#upd', function () {
                var row = $(this).closest('tr');
                var data = usert.dataTable().fnGetData(row);

                window.location.href = '/template/update/' + data.id;
            });
            usert.on('click', '#rm', function () {
                var row = $(this).closest('tr');
                var data = usert.dataTable().fnGetData(row);
                var self = this;
                $.ajax({
                    type: 'POST',
                    url: '{{ path('template_delete') }}',
                    data: 'id=' + data.id
                }).done(function (data) {
                    $(self).parent().parent().remove()
                })
            });

            usert.on('click', '#st', function () {

                var data = table.api().row($(this).parents('tr')).data();
                var row = $(this).closest('tr').index();

                $.ajax({
                    type: 'POST',
                    url: '{{ path('template_status') }}',
                    data: 'id=' + data.id,
                    success: function () {
                        if (data.status == 'Активен')
                            table.fnUpdate('Не активен', row, 5);
                        else  table.fnUpdate('Активен', row, 5);

                    }

                });


            });


        });


    </script>

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="page-title">
            <h1> Шаблоны </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height clearfix">
                    <div class="heading">
                        <a href="{{ path('template_create') }}" type="button" class="btn btn-primary btn-lg"><i
                                    class="icon-user"></i>Добавить шаблон</a>
                    </div>
                    <div class="widget-content padded clearfix">
                        <table class="table table-bordered table-striped" data-action="{{ path("template_paginate") }}"
                               id="template-list"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
