{% extends "page/template/create.html.twig" %}
{% block title %}Редактирование {% endblock %}
{% block content %}

    <div class="col-md-8 col-md-offset-2">
        <div class="widget-container fluid-height clearfix">

            <div class="widget-content padded">
                <div class="col-md-12">
                    {{ form_start(form,{ 'attr': {'class': "form-horizontal" } }) }}

                    <h2 class="col-md-offset-2">Настройка</h2>
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>Название</b></label>
                        <div class="col-md-9">
                            {{ form_widget(form.name,{ 'attr': {'placeholder':'Назовите как-нибудь','class':'form-control'} }) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="category"><b>Аккаунты</b></label>
                        <div class="col-md-9">
                            {{ form_widget(form.youlaAccount,{ 'attr': {'class':'select2able form-control select2'} }) }}
                        </div>
                    </div>
                    <br>

                    <br>
                    <h2 class="col-md-offset-2">Детали объявления</h2>
                    <hr>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="accLat"><b>Latitude</b></label>
                        <div class="col-md-4">
                            {{ form_widget(form.latitude,{ 'attr': {} }) }}
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="accLong"><b>Longitude</b></label>
                        <div class="col-md-4">

                            {{ form_widget(form.longitude,{ 'attr': {} }) }}
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="accLong"><b>Радиус</b></label>

                        <div class="col-md-9">
                            {{ form_widget(form.radius,{ 'attr': {'placeholder':'Укажите радиус в километрах'} }) }}
                            <label for="" class="control-label">Укажите радиус в Километрах от точки, в пределах
                                которого
                                будут публиковаться объявлления случайным образом</label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="YMapsID"><b>Местоположение</b></label>
                            <div class="col-md-offset-2" id="YMapsID" style="width:35%;height:260px"></div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="category"><b>Категория</b></label>
                        <div class="col-md-9">
                            {{ form_widget(form.category,{ 'attr': {'class':'select2able form-control select2'} }) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="subcategory"><b>Подкатегория</b></label>

                        <div class="col-md-9" id="replaceableCategory">
                            {{ form_widget(form.subCategory  ,{ 'attr': {'class':'select2able form-control select2'} }) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="gallery"><b>Галлерея</b></label>
                        <div class="col-md-9">
                            {{ form_widget(form.gallery,{ 'attr': {'class':'select2able form-control select2'} }) }}
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label class="control-label col-md-3"><b>Кол-во фото на объявление</b></label>
                        <div class="col-md-4">
                            {{ form_widget(form.photoCount) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>Заголовок</b></label>
                        <div class="col-md-9">
                            {{ form_widget(form.title,{ 'attr': {'placeholder':'Заголовок объявления','class':'form-control','rows':'5'} }) }}
                        </div>
                    </div>

                    <br>

                    <div class="form-group">
                        <label class="control-label col-md-3"><b>Текст</b></label>
                        <div class="col-md-9">
                            {{ form_widget(form.text,{ 'attr': {'placeholder':'Текст объявления. Пример: {Продам|Куплю|Продаю} {iPhone|Гараж}','class':'form-control','rows':'5'} }) }}

                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label class="control-label col-md-3"><b>Цена</b></label>
                        <div class="col-md-4">
                            {{ form_widget(form.cost) }}
                        </div>
                    </div>
                    <br>

                    <h2 class="col-md-offset-3">Периодичность</h2>
                    <hr>


                    <br>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="subcategory"><b>Периодичность публикации</b></label>

                        <div class="col-md-9" id="per">
                            {{ form_widget(form.timeToPublish ,{ 'attr': {'class':'select2able form-control select2'} }) }}
                        </div>
                    </div>
                    <br>


                    <h2 class="col-md-offset-3">Автоответчик</h2>
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>Тест ответа</b></label>
                        <div class="col-md-9">

                            {{ form_widget(form.responseText,{ 'attr': {'placeholder':'Текст автоответчика. Сообщение, которое будет автоматически отправляться на все поступившие сообщения от покупателей. Оставьте поле пустым, если не хотите использовать функцию автоответчика.','class':'form-control','rows':'5'} }) }}
                        </div>
                    </div>


                    <br>
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>Статус</b></label>
                        <div class="col-md-9 clearfix">
                            <div class="holder">
                                {{ form_widget(form.status, { 'id': 'status','attr': {'class':'check-ios'}}) }}
                                <label for="status"></label>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="form-actions col-md-offset-3 col-md-9">
                        <button class="btn btn-primary" type="submit">Добавить</button>
                        <button class="btn btn-default-outline">Отмена</button>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}