<div id="app">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid top-bar">
            <div class="pull-right">

                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown user hidden-xs"><a class="dropdown-toggle" data-toggle="dropdown"
                                                           href="widgets.html#"> {{ app.user.username }} <b
                                    class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/update/user"> <i class="glyphicon glyphicon-user pull-right"></i>Натройки</a>
                            </li>
                            <li>
                                <a href="/payment"><i
                                            class="glyphicon glyphicon-euro pull-right"></i>Баланс({{ app.user.cash }})</a>
                            </li>
                            <li>
                                <a href="{{ logout_path('main') }}">
                                    <i class="glyphicon glyphicon-log-out pull-right"></i> Выйти
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>

            <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span
                        class="icon-bar"></span></button>
            <a class="navbar-brand" href="/">Youla Tool</a>
        </div>

        <div class="container-fluid main-nav clearfix">
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/"><span class="glyphicon glyphicon-dashboard"></span>Dashboard </a></li>
                    <li><a href="{{ path('accounts_index') }}"><span class="glyphicon glyphicon-user"></span>Аккаунты</a></li>
                    <li><a href="{{ path("template_list") }}"><span class="glyphicon glyphicon-envelope"></span>Шаблоны</a></li>
                    <li><a href="{{ path('gallery_list') }}"><span class="glyphicon glyphicon-th"></span>Галерея</a></li>
                </ul>
            </div>
        </div>



    </div>
</div>