{% extends "layout/cabinet.base.html.twig" %}
{% block scripts %}
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ru.js"></script>
    <script type="text/javascript">
        $(function () {
            var usert = $('#template-list');
            var table = usert.dataTable({
                'ajax': {
                    type: "GET",
                    url: '/messages/paginate',
                    dataSrc: ""
                },
                columns: [
                    {

                        data: 'id',
                        title: 'ID',
                        width: '100px',
                        bVisible: false,
                    },
                    {
                        data: 'text',
                        title: 'Текст',
                        width: '100px',
                    },
                    {
                        data: function (data) {
                            var now = new Date(data.date);
                            moment.lang('ru');
                            return moment(now).format('L LT');

                        },
                        title: 'Дата',
                        width: '100px',

                    },
                ]
            });

        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="page-title">
            <h1> Сообщения </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height clearfix">

                    <div class="widget-content padded clearfix">
                        <table class="table table-bordered table-striped" data-action="{{ path("messages_paginate") }}"
                               id="template-list"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
