{% extends "layout/cabinet.base.html.twig" %}
{% block title %} Рандомизированные тексты{% endblock %}
{% block scripts %}

    <script type="text/javascript">
        $(function () {
            var usert = $('#subText-list');
            var table = usert.dataTable({
                'ajax': {
                    type: "GET",
                    url: usert.data('action'),
                    dataSrc: ""
                },
                columns: [
                    {

                        data: 'id',
                        title: 'ID',
                        width: '100px',
                        bVisible: false,
                    },
                    {
                        data: 'text',
                        title: 'Текст',
                        width: '100px',
                    },

                ]
            });

        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="page-title">
            <h1> Рандомизированные тексты для шаблона "{{ template.name }}" </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height clearfix">
                    <div class="heading">
                        <a href="{{ path('template_list') }}" type="button" class="btn btn-primary btn-lg"><i
                                    class="icon-user"></i>Обратно к шаблонам</a>
                    </div>
                    <div class="widget-content padded clearfix">
                        <table class="table table-bordered table-striped" data-action="{{ path('subtext_paginate', {"parentId": template.id}) }}"
                               id="subText-list"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
