{% extends 'layout/cabinet.base.html.twig' %}

{% block title %} Галлерея {% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="widget-container fluid-height clearfix">


        <div class="widget-content padded">
                <div class="col-md-12">
                    <div class="widget-content padded">
                        <div class="col-md-12">
                            {{ form_start(form,{ 'attr': {'action': path('gallery_create'),'class': "form-horizontal" } }) }}
                            {{ form_errors(form) }}
                            <div class="form-group">
                                <label class="control-label col-md-3"><b>Название</b></label>
                                <div class="col-md-9">
                                    {{ form_widget(form.name,{ 'attr': {'placeholder':'Назовите как-нибудь','class':'form-control'} }) }}
                                </div>
                            </div>
                            <label for="" class="control-label col-md-offset-3">Выберите ваш zip архив с фотографиями</label>
                            <div class="form-actions col-md-offset-3 col-md-9">
                                {{ form_widget(form.path) }}
                            </div>

                            <br>
                            <div class="form-actions col-md-offset-3 col-md-9">
                                <button class="btn btn-primary" type="submit">Добавить</button>
                                <button class="btn btn-default-outline">Отмена</button>
                            </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
        </div>
    </div>



{% endblock %}