{% extends "layout/cabinet.base.html.twig" %}
{% block scripts %}

    <script type="text/javascript">
        $(function () {
            var usert = $('#template-list');
            var table = usert.dataTable({
                'ajax': {
                    type: "GET",
                    url: '/gallery/paginate',
                    dataSrc: ""
                },
                columns: [
                    {

                        data: 'id',
                        title: 'ID',
                        width: '100px',
                        bVisible: false,
                    },
                    {
                        data: 'name',
                        title: 'Имя',
                        width: '100px',
                    },
                    {
                        data: function (data) {
                            var t = '';
                            for (var i = 0; i < data.arrays.length; i++) {
                                t += '<a href="/data/galleries/' + data.user.id + '/' + data.path + '/' + data.arrays[i] + '" data-resize-duration="200" data-speed="200" data-lightbox="/data/galleries/' + data.user.id + '/' + data.path + '/' + data.arrays[i] + '" data-title=' + data.user.username + ':' + data.arrays[i] + '><img src="/data/galleries/' + data.user.id +
                                    '/' + data.path + '/' + data.arrays[i] + '" height="20" width="20" /></a>';
                            }
                            return t;
                        },
                        title: 'Картинки',
                        width: '100px',
                        orderable: false,
                    },
                    {
                        title: 'Действия',
                        render: function (data, type, row) {
                            return ("<button class='btn btn-danger-outline btn-sm' id='rm'>Удалить</button>")
                        },
                        width: '200px',
                        orderable: false
                    }
                ]
            });
            usert.on('click', '#rm', function () {
                var row = $(this).closest('tr');
                var data = usert.dataTable().fnGetData(row);
                var self = this;
                $.ajax({
                    type: 'POST',
                    url: '{{ path('gallery_delete') }}',
                    data: 'id=' + data.id
                }).done(function (data) {
                    $(self).parent().parent().remove()
                })
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="page-title">
            <h1> Галереи </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height clearfix">
                    <div class="heading">
                        <a href="{{ path('gallery_create') }}" type="button" class="btn btn-primary btn-lg"><i
                                    class="icon-user"></i>Добавить галерею</a>
                    </div>
                    <div class="widget-content padded clearfix">
                        <table class="table table-bordered table-striped" data-action="{{ path("gallery_paginate") }}"
                               id="template-list"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
