<div id="modal-add-balans" tabindex="-1" class="modal fade">
    <div class="modal-dialog modal-record">

        <div class="modal-con-container">
            <button type="button" data-dismiss="modal" class="close">x</button>
            <h1>Пополнить баланс</h1>
            <form action="{{ path('generate-pay') }}" method="post">
                <div class="form-group form-group-lg">
                    <input style="font-weight: bold;" name="sum" class="form-control" placeholder="Сумма" type="number"/>
                </div>
                <hr>
                <button class="button-modal modal-con-submit " name="submit" type="submit">
                    Пополнить
                </button>
            </form>
        </div>

    </div>
</div>
