<div id="modal-add-account" data-profile-update="{{ path('acc-profile-save') }}" data-phone-confirm="{{ path('acc-phone-confirm') }}" data-phone-submit="{{ path("acc-phone-submit") }}" tabindex="-1" class="modal fade">
    <div class="modal-dialog modal-record">

        <div class="tab-modal tab-first">

            <div class="modal-con-container">
                <button type="button" data-dismiss="modal" class="close">x</button>
                <h1>Добавить аккаунт</h1>
                <form onsubmit="return false;" method="post">
                    <div class="form-group form-group-sm">
                        <input class="form-control" id="phone-acc-input" name="phone-acc-input"
                               placeholder="Номер телефона" type="text"/>
                    </div>

                    <hr>

                    <div class="">
                        <input id="accLat" type="hidden" name="lat">
                        <input id="accLong" type="hidden" name="long">
                    </div>

                    <div class="form-group form-group-sm">
                        <div id="YMapsID" style="width: 100%; height: 360px;"></div>
                    </div>
                </form>
                <button id="phone-submit-acc-button" class="button-modal modal-con-submit " name="submit" type="submit">
                    Добавить
                </button>
            </div>

        </div>



        <div class="tab-modal tab-second">
            <div class="modal-con-container">
                <button type="button" data-dismiss="modal" class="close">x</button>
                <h1>Добавить аккаунт</h1>
                <form onsubmit="return false;" method="post">
                    <div class="form-group form-group-sm">
                        <input class="form-control" id="phone-code-acc-input" placeholder="Полученный код" type="number"/>
                    </div>

                    <hr>
                </form>
                <button id="phone-confirm-acc-button" class="button-modal modal-con-submit " name="submit" type="submit">
                    Добавить
                </button>
            </div>
        </div>



        <div class="tab-modal tab-third">
            <div class="modal-con-container">
                <button type="button" data-dismiss="modal" class="close">x</button>
                <h1>Заполнить профиль</h1>
                <form onsubmit="return false;" method="post">
                    <div class="form-group form-group-sm">
                        <input class="form-control" id="phone-name-acc-input" placeholder="Имя" type="text"/>
                    </div>

                    <div class="form-group form-group-sm">
                        <input class="form-control" id="phone-surname-acc-input" placeholder="Фамилия" type="text"/>
                    </div>

                    <hr>
                </form>
                <button id="phone-profile-save-button" class="button-modal modal-con-submit " name="submit" type="submit">
                    Сохранить
                </button>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        var map;
        YMaps.jQuery(function () {
            map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);

            map.setCenter(new YMaps.GeoPoint(37.64, 55.76), 10);
            map.enableScrollZoom();
            map.addControl(new YMaps.Zoom());

            YMaps.Events.observe(map, map.Events.Click, function (map, mEvent) {
                var geo = mEvent.getGeoPoint();
                var lat = geo.getLat(),
                    lng = geo.getLng();

                $("#accLat").val(lat);
                $("#accLong").val(lng);
                map.removeAllOverlays();
                map.addOverlay(new YMaps.Placemark(new YMaps.GeoPoint(lng, lat)));
            })
        })
    })
</script>