<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ block('title') }}</title>
    {% include 'parts/head.html.twig' %}
    {% block scripts %}{% endblock %}
</head>
<body>

{% include 'parts/header.html.twig' %}
{% block content %}{% endblock %}
{% include "parts/footer.html.twig" %}

</body>
</html>