<html>
<head>
    <title>Юла</title>
    <meta charset="utf-8" />
    {#<link type="text/css" rel="stylesheet" href="css/bootstrap.css">#}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="css/home.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img src="images/logo.png" alt="">
                <div class="logo">
                    <a href="#">youla-tool</a><span>Система управления объявлениями в приложение юла</span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="menu">
                    <a href="{{ path('accounts_index') }}" class="menu-l">Личный кабинет</a>
                    <a href="#">Отзывы</a>
                    <a href="#plans">Тарифы</a>
                    <a target="_blank" href="http://y-tool.ru" class="menu-l">Бонусы юла</a>
                </div>
            </div>
            <div class="col-xs-3 menu-contact">
                <a href="callto:+70000000000" class="menu-phone">+7 (000) 000-00-00</a>
                <a class="menu-zvonok" href="#">Заказать обратный звонок</a>
            </div>
        </div>
    </div>
</header>

<section class="block-1">
    <div class="block-1-1">
        <div class="block-1-1-1">
            <h1>youla-tool</h1>
            <div class="block-1-1-2">
                <p>Система управления объявлениями в приложение юла</p>
                <span>Количество клиентов больше не устраивает вас, и вы желаете значительного расширения числа поступающих к вам заявок? Никаких проблем – мы рады представить вам уникальное приложение – автопостинг на Юле. Этот продукт позволяет привлечь клиентов в том объеме, который вам требуется.</span>
                <br>
                <b>Функционал и возможности</b>
                <b>Автопостинг объявлений юла позволяет получить следующее:</b>
                <ul>
                    <li>Гибкое подстраивание функций для ведения диалога с клиентами в режиме онлайн;</li>
                    <li>Удобное планирование действий для оперативной подачи объявлений и их отзыва по мере потребности;</li>
                    <li>Множество вариативных шаблонов, функционирование которых осуществляется посредством рандомной технологии в пределах типичного стандарта;</li>
                    <li>Автоприем сообщений от пользователей, сопровождаемый звуковым и визуальным сигнализированием, что обеспечивает оперативность ведения общения;</li>
                    <li>Добавление фото в пакетном формате, исходя из требуемых категорий и групп реализуемых товаров;</li>
                    <li>Авторандомизация для максимально гибкого подстраивания размещения объявлений по территориальной расположенности;</li>
                    <li>Использование при функционировании приложения SOCKS (прокси).</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="block-2">
    <div class="container">
        <h2>ПРЕИМУЩЕСТВА РАБОТЫ ЧЕРЕЗ youla-tool</h2>
        <p>Cамый функциональный инструмент среди себе подобных, заложен опыт программистов, опыт каждого из которых, превышает 10 лет.</p>
        <div class="row">
            <div class="col-xs-4 mini-block-2">
                <img src="images/icon/easel.png" alt="">
                <span>Увеличение продаж <span>Реальный рост продаж в несколько раз</span></span>
            </div>
            <div class="col-xs-4 mini-block-2">
                <img src="images/icon/hourglass.png" alt="">
                <span>Экономия времени <span>Значительная временная экономия на выкладку и отзыв объявлений</span></span>
            </div>
            <div class="col-xs-4 mini-block-2">
                <img src="images/icon/shipwheel.png" alt="">
                <span>Работа на полном автомате. <span>Возможность функционирования системы полностью в автоматическом режиме</span></span>
            </div>
            <div class="col-xs-4 mini-block-2">
                <img src="images/icon/eye.png" alt="">
                <span>Ваши объявления увидят все! <span>Ваши объявления будут на всех первых страницах, а также в блоке "похожие объявления", это позволит Вам всегда оставаться на виду у Ваших клиентов</span></span>
            </div>
            <div class="col-xs-4 mini-block-2">
                <img src="images/icon/memorycard.png" alt="">
                <span>Не нужно искать SIM-карты и IP <span>Полностью автоматическая регистрация профилей на телефоны сервиса с настройкой переадресации на Ваш номер. IP (Прокси) также распределяются и меняются автоматчиески</span></span>
            </div>
            <div class="col-xs-4 mini-block-2">
                <img src="images/icon/calendar.png" alt="">
                <span>Работа по расписанию <span>Ежедневное размещение, переразмещение ваших объявлений происходит на полном автомате. Нужно лишь установить нужные интервалы и даты размещения</span></span>
            </div>
            <div class="col-xs-4 mini-block-2">
                <img src="images/icon/upload.png" alt="">
                <span>Импорт/Экспорт большого количества объявлений. <span>Детальные статистические отчеты касательно всех аспектов функционирования</span></span>
            </div>
            <div class="col-xs-4 mini-block-2">
                <img src="images/icon/support.png" alt="">
                <span>Быстрая и отзывчивая поддержка <span>Оперативное реагирование службы поддержки на все внештатные ситуации</span></span>
            </div>
            <div class="col-xs-4 mini-block-2">
                <img src="images/icon/volume.png" alt="">
                <span>Детальная статистика <span>По всем Вашим объявлениям, прямо в программе</span></span>
            </div>
        </div>
    </div>
</section>

<section id="plans" class="block-3">
    <div class="container">
        <h2>ТАРИФЫ youla-tool</h2>
        <p>В самый функциональный инструмент среди себе подобных, заложен опыт программистов, опыт каждого из которых, превышает 10 лет.</p>
        <div class="row">
            <div class="col-xs-3">
                <div class="mini-block-3">
                    <h4>Базовый</h4>
                    <span class="price-1">9 000 р</span>
                    <span class="price-2">6 000 р</span>
                    <span class="price-3">единоразовый платеж *</span>
                    <ul>
                        <li>Экономия <b>3000р</b></li>
                        <li>Размещение объявлений, без каких-либо ограничений</li>
                    </ul>
                    <a href="#" class="knopka">Начать пользоваться</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="mini-block-3">
                    <h4>Базовый</h4>
                    <span class="price-1">9 000 р</span>
                    <span class="price-2">6 000 р</span>
                    <span class="price-3">единоразовый платеж *</span>
                    <ul>
                        <li>Экономия <b>3000р</b></li>
                        <li>Размещение объявлений, без каких-либо ограничений</li>
                    </ul>
                    <a href="#" class="knopka">Начать пользоваться</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="mini-block-3">
                    <h4>Базовый</h4>
                    <span class="price-1">9 000 р</span>
                    <span class="price-2">6 000 р</span>
                    <span class="price-3">единоразовый платеж *</span>
                    <ul>
                        <li>Экономия <b>3000р</b></li>
                        <li>Размещение объявлений, без каких-либо ограничений</li>
                    </ul>
                    <a href="#" class="knopka">Начать пользоваться</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="mini-block-3">
                    <h4>Базовый</h4>
                    <span class="price-1">9 000 р</span>
                    <span class="price-2">6 000 р</span>
                    <span class="price-3">единоразовый платеж *</span>
                    <ul>
                        <li>Экономия <b>3000р</b></li>
                        <li>Размещение объявлений, без каких-либо ограничений</li>
                    </ul>
                    <a href="#" class="knopka">Начать пользоваться</a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <p>© YOULA-TOOL | Все права защищены.</p>
</footer>

</body>
</html>