@import url('https://fonts.googleapis.com/css?family=Russo+One|Ubuntu:400,700');

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #f2f2f2;
}
header {
    height: 80px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.16);
    position: fixed;
    width: 100%;
    z-index: 2;
}
header img {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 0;
}

footer {
    height: 50px;
    background: #337ab7;
}

footer p {
    text-align: center;
    color: #fff;
    font-size: 11px;
    line-height: 50px;
    font-family: 'Russo One', sans-serif;
    margin: 0;
}

.logo {
    display: inline-block;
    width: 70%;
    padding: 10px 0;
}

.logo a {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    color: #3982c1;
    transition: 0.5s;
}
.logo a:hover {
    color: #2f5c83;
    text-decoration: none;
    transition: 0.5s;
}
.logo  span {
    font-size: 11px;
    display: inline-block;
    color: #909090;
}
.menu {
    line-height: 60px;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
}
.menu a {
    padding: 10px 20;
    background: #337ab7;
    border-radius: 10px;
    color: #fff;
    margin: 0 5px;
    font-size: 10px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
}
.menu a:hover {
    background: #336189;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.menu a.menu-l {
    padding: 10px 20;
    background: #e85822;
    border-radius: 10px;
    color: #fff;
    margin: 0 5px;
    font-size: 10px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
}
.menu a.menu-l:hover {
    background: #de6a19;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.menu-contact {
    display: block;
    height: 80px;
    padding: 20px 10px;
}
.menu-phone {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    color: #337ab7;
    vertical-align: middle;
    transition: 0.5s;
}
.menu-phone:hover {
    color: #336189;
    transition: 0.5s;
    text-decoration: none;
}
.menu-zvonok {
    display: inline-block;
    text-align: center;
    color: #337ab7;
    text-decoration: none;
    transition: 0.5s;
}
.menu-zvonok:hover {
    color: #336189;
    transition: 0.5s;
    text-decoration: none;
}
.block-1 {
    background: url(../images/bg-1.jpg) no-repeat center center;
    background-size: cover;
}
.block-1-1 {
    height: 900px;
    border-bottom: #337ab7 solid 10px;
    display: table;
    width: 100%;
    vertical-align: middle;
}
.block-1-1-1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.block-1-1-2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    background: rgba(51, 122, 183, 0.8);
}
.block-1 h1{
    font-size: 48px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    background: rgba(255, 135, 52, 0.7);
}
.block-1 p{
    font-size: 18px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.block-1 span{
    font-size: 15px;
    display: block;
    width: 50%;
    color: #fff;
    text-transform: initial;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}
.block-1 ul{
    font-size: 15px;
    display: block;
    width: 50%;
    color: #fff;
    text-align: left;
    text-transform: initial;
    margin: 10px auto;
    font-family: 'Ubuntu', sans-serif;
}
.block-1 b {
    font-size: 15px;
    display: block;
    width: 50%;
    color: #fff;
    text-transform: initial;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}
.block-2 {
    background: url(../images/bg-2.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 20px;
}
.block-2 .container {
    background: rgba(255, 255, 255, 0.6);
    border-left: #337ab7 solid 2px;
    border-right: #337ab7 solid 2px;
    border-bottom: #337ab7 solid 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.block-2 h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    margin-top: 50px;
}
.block-2 p {
    text-align: center;
    margin-bottom: 20px;
}
.block-2 img {
    display: block;
    margin: 0 auto 10px;
}
.block-2 span {
    display: block;
    text-align: center;
    font-size: 13px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Russo One', sans-serif;
}
.block-2 span span {
    display: block;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 11px;
    width: 80%;
    margin: 0 auto;
}
.mini-block-2 {
    padding: 20px;
    padding: 20px;
    height: 260px;
}
.block-3 {
    background: url(../images/bg-3.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 30px;
    border-top: #e87e34 solid 3px;
}
.block-3 .container {
    background: rgba(255, 255, 255, 0.6);
    border-left: #e87e34 solid 2px;
    border-right: #e87e34 solid 2px;
    border-bottom: #e87e34 solid 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.block-3 h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    margin-top: 50px;
}
.block-3 p {
    text-align: center;
    margin-bottom: 20px;
}
.mini-block-3 {
    background: rgba(195, 200, 204, 0.48);
    border-radius: 10px;
    margin: 10px 0;
    padding: 0 0 15px;
}
.mini-block-3 h4{
    text-align: center;
    background: #509e42;
    padding: 10px 0;
    font-family: 'Russo One', sans-serif;
    border-radius: 10px;
    color: #fff;
}
.price-1 {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #f92828;
    font-family: 'Russo One', sans-serif;
    text-decoration: line-through;
}
.price-2 {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: 'Russo One', sans-serif;
}
.price-3 {
    display: block;
    text-align: center;
    font-size: 12px;
}
.mini-block-3 ul {
}
.mini-block-3 li{
    font-size: 14px;
    padding: 5px 0;
}
.mini-block-3 li b{
    color: #f92828;
}
.knopka {
    padding: 10px 20;
    background: #e87e34;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.knopka:hover {
    background: #de6a19;
    text-decoration: none;
    transition: 0.5s;
    color: #fff;
}

@media (max-width: 1200px) {
    .menu-contact {
        display:none;
    }
    header .col-xs-6 {
        width: 75%;
    }
}