{% extends "layout/cabinet.base.html.twig" %}
{% block title %} Ваша платежная информация {% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ru.js"></script>
    <style type="text/css">

        .blocks {
            border: 1px solid #EEEEEE;
        }

        .blocks:hover {
            box-shadow: 0px 0px 10px #D9E0DB;
        }

        .block-header {
            height: 40px;
            text-align: center;
            width: 100%;
            padding: 8%;
            background: #F8F8F8;
            color: #333333;
        }

        .block-container p:hover {
            background: #F8F8F8;
        }

        .block-header h4 {
            font-weight: bold;
            vertical-align: center;
        }

        .block-container {
            text-align: center;
        }

        .block-container p {
            border-bottom: 1px solid #F4F7F8;
            margin: 0;
            padding: 2%;
        }

        .block-container p:last-child {
            border-bottom: none;
        }

        .price {
            font-size: 50px;
            color: #FF592D;
            font-weight: bold;
        }

        .renew-price {
            font-size: 12px;
            color: #333333;
            font-style: italic;
            font-weight: normal;
        }

        .block-footer {
            text-align: center;
            padding: 10%;
        }

        .active-block .block-header {
            background: #007aff;
            color: #fff;
        }

        .active-block .price {
            color: #45BA76;
        }

        .active-block .block-footer a {
            background: #45BA76;
            color: #fff;
            border: none;
        }

        .active-block .block-footer a:hover {
            background: #EEEEEE;
            color: #333333;
            border: 1px solid #45BA76;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            var usert = $('#template-list');
            var table = usert.dataTable({
                "initComplete": function () {
                    var i = 0
                    table.api().rows().every(function (rowIdx, tableLoop, rowLoop) {

                        var data = this.data();

                        if (data.status)
                            table.fnUpdate('Активен', i, 5);
                        else  table.fnUpdate('Не активен', i, 5);

                        console.log(i);
                        i++;
                    })

                },
                'ajax': {
                    type: "GET",
                    url: usert.data('action'),
                    dataSrc: ""
                },
                columns: [

                    {

                        data: 'description',
                        title: 'Описание',
                        width: '100px',
                    },
                    {
                        data: 'summ',
                        title: 'Сумма',
                        width: '100px',
                    },
                    {
                        data: function (data) {
                            var now = new Date(data.date);
                            moment.lang('ru');
                            return moment(now).format('L LT');

                        },
                        title: 'Дата',
                        width: '100px',
                        orderable: false,
                    },


                    {
                        data: 'status',
                        title: 'Статус',
                        width: '100px',
                        orderable: false,
                    },
                ]

            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="widget-container fluid-height clearfix">
            <div class="widget-container fluid-height clearfix">
                <div class="widget-content padded">
                    <ul class="list-inline" style="font-size: 150%">
                        <li>Ваш баланс:{{ app.user.cash }}.</li>
                        {% if app.user.plan %}
                            {% set difference = date(app.user.plan.endTime).diff(date(app.user.plan.startTime)) %}
                            {% set leftDays = difference.days %}
                            <li>Ваш тариф:{{ app.user.plan.plan.name }}.</li>
                            <li>Действует еще {{ leftDays }} дней.</li>
                        {% else %}
                            <li>Ваш тариф: Не приобретен</li>
                        {% endif %}
                        <li>
                            <a data-toggle="modal" data-target="#modal-add-balans" class="btn btn-info" type="button">Пополнить
                                баланс</a>
                        <li>
                    </ul>
                </div>
            </div>

            {% if errors|length  %}
                <div class="alert alert-danger">
                    {{ errors }}
                </div>
            {% endif %}

            <div class="widget-content padded">
                <div class="col-md-12">
                    <h2 class="col-md text-center" style="color:#007aff">Тарифы</h2>
                    <hr>
                    <div class="">
                        <div class="row">
                            <form method="post" action="{{ path('payment') }}"
                                  onsubmit="return confirm('Вы действительно хотите купить этот пакет?');">
                                {% set i= 0 %}
                                {% for plane in plans %}
                                    <div class="col-md-3">
                                        <div class="blocks">
                                            <div class="block-header">
                                                <h4>{{ plane.name }}</h4>
                                            </div>
                                            <div class="block-container text-left">
                                                <p class="text-left"><span class="glyphicon glyphicon-ok "
                                                                           data-unicode="e013"
                                                                           style="color:#45BA76;"> </span>До {{ plane.maxMessages }}
                                                    сообщений в день</p>
                                                <p class="text-left"><span class="glyphicon glyphicon-ok "
                                                                           data-unicode="e013"
                                                                           style="color:#45BA76;"> </span>До {{ plane.countPromo }}
                                                    активных рассылок</p>
                                                <p class="text-left"><span class="glyphicon glyphicon-ok "
                                                                           data-unicode="e013"
                                                                           style="color:#45BA76;"> </span>До {{ plane.photoCount }}
                                                    фото в рассылке</p>
                                                <p class="text-left"><span class="glyphicon glyphicon-ok "
                                                                           data-unicode="e013"
                                                                           style="color:#45BA76;"> </span>До {{ plane.proxyCount }}
                                                    прокси</p>
                                                <p class="text-left"><span class="glyphicon glyphicon-ok "
                                                                           data-unicode="e013"
                                                                           style="color:#45BA76;"> </span>До {{ plane.countAccount }}
                                                    аккаунтов юлы</p>
                                                {% if plane.useBonus %}
                                                    <p class="text-left"><span class="glyphicon glyphicon-ok"
                                                                               data-unicode="e013"
                                                                               style="color:#45BA76;"> </span>Использование
                                                        бонусов:да</p>
                                                {% else %}
                                                    <p class="text-left"><span class="glyphicon glyphicon-remove"
                                                                               data-unicode="e013"
                                                                               style="color:red;"> </span>Использование
                                                        бонусов:нет</p>
                                                {% endif %}
                                                <p class="price"><i style="font-size: 40px;"></i>{{ plane.cost }}<sub>
                                                        <small class="renew-price">руб./мес.</small>
                                                    </sub></p>
                                            </div>

                                            <div class="block-footer">
                                                <button class="btn btn-primary" name="{{ i }}" id="order-now"
                                                        type="submit">Купить
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    {% set i=i+1 %}
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <br>
                    <h2 class="col-md text-center" style="color:#007aff">Ваши транзакции</h2>
                    <hr>
                    <div class="widget-content padded clearfix">
                        <table class="table table-bordered table-striped" data-action="{{ path("payment_paginate") }}"
                               id="template-list"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'parts/modals/add-balans.html.twig' %}
{% endblock %}