<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Login</h1>
        </div>
        <div class="panel-body">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login') }}" method="post">

                <div class="form-group">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>

                        <input type="text" id="username" name="_username" class="form-control"
                               value="{{ last_username }}" required="required" placeholder="Username"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock" style="width: auto"></i>
                            </span>

                        <input type="password" id="password" name="_password" class="form-control"
                               placeholder="p@$$word"/>
                    </div>
                </div>
                <button id="btnLogin" class="btn btn-default" style="width: 100%">
                    Login<i class="glyphicon glyphicon-log-in"></i>
                </button>
            </form>
            <p class="change_link">
                Don't Have an Account?
                <a href="/register"> Join us </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
