<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Registration</h1>
        </div>
        <div class="panel-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_errors(form.username) }}

            <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>

                    {{ form_widget(form.username, { 'attr': {'class': "form-control",
                        'placeholder': "Username"
                    } }) }}
                </div>
            </div>
            {{ form_errors(form.email) }}
            <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope" style="width: auto"></i>
                            </span>

                    {{ form_widget(form.email, { 'attr': {'class': "form-control",
                        'placeholder': "your@mail.com"
                    } }) }}

                </div>


            </div>
            {{ form_errors(form.password.first) }}
            <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock" style="width: auto"></i>
                            </span>
                    {{ form_widget(form.password.first, { 'attr': {'class': "form-control",
                        'placeholder': "p@$$word"
                    } }) }}


                </div>


            </div>
            <div class="form-group">
                <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock" style="width: auto"></i>
                            </span>
                    {{ form_widget(form.password.second, { 'attr': {'class': "form-control",
                        'placeholder': "p@$$word"
                    } }) }}


                </div>


            </div>


            <button id="btnReg" class="btn btn-default" style="width: 100%">
                Register<i class="glyphicon glyphicon-log-in"></i>
            </button>
            {{ form_end(form) }}
            <p class="change_link">
                Already have an account?
                <a href="/login"> Sign in </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
